<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="twitter:site" content="@github">
    <meta property="twitter:domain" content="https://github.com/">
    <meta property="twitter:card" content="player">
    <meta property="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:type" content="video.other">
    <meta property="twitter:image" content="<%= htmlWebpackPlugin.options.thumbnailURL%>">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.thumbnailURL%>">
    <meta property="og:image:width" content="<%= htmlWebpackPlugin.options.thumbnailWidth%>">
    <meta property="og:image:height" content="<%= htmlWebpackPlugin.options.thumbnailHeight%>">
    <link rel="alternate" type="application/json+oembed" href="<%= htmlWebpackPlugin.options.URL %>oembed.json" title="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.URL %>">
    <meta property="og:video:type" content="text/html">
    <meta property="og:video:url" content="<%= htmlWebpackPlugin.options.URL %>">
    <meta property="og:video:secure_url" content="<%= htmlWebpackPlugin.options.URL %>">
    <meta property="og:video:width" content="<%= htmlWebpackPlugin.options.canvasWidth%>">
    <meta property="og:video:height" content="<%= htmlWebpackPlugin.options.canvasHeight%>">
    <meta name="twitter:player" content="<%= htmlWebpackPlugin.options.URL %>">
    <meta name="twitter:player:stream:content_type" content="text/html">
    <meta name="twitter:player:width" content="<%= htmlWebpackPlugin.options.canvasWidth%>">
    <meta name="twitter:player:height" content="<%= htmlWebpackPlugin.options.canvasHeight%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
  </head>
  <body>
    <div id="canvas-container" class="canvas-size webgl">
      <canvas id="canvas"> </canvas>
      <div id="loading-container" class="canvas-size">
        <div>Loading</div>
      </div>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>
